In [1]:
import pandas as pd

# Modules import
import preprocessing as pp
import model
from train import train_model
from predict import predict

In [2]:
# Data loading
df_store = pd.read_csv('../data/store.csv')
df_train = pd.read_csv('../data/train.csv', low_memory=False)

In [3]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

## Coherence between train and test sets

Tell whether train and test data follow the same distribution

## General pipeline test

### Model selection

In [4]:
# Preprocessing
X, y = pp.Preprocessor().transform(df_store, df_train)
print(X.shape, y.shape)
X.head()

/Users/taha/Desktop/MLBusinessCase/model/preprocessing.py:39: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by the scale function.
  df_store_bis = scale(df_store_bis)

(1017209, 13) (1017209,)

,DayOfWeek,Date,Open,Promo,SchoolHoliday,StateHoliday_a,StateHoliday_b,StateHoliday_c,cos_DayOfWeek,sin_DayOfWeek,1Component Store PCA,2Component Store PCA,3Component Store PCA
0,5,2015-07-31,1,1,1,0,0,0,-0.222521,-0.974928,0.935551,-0.769879,-2.379503
1,4,2015-07-30,1,1,1,0,0,0,-0.900969,-0.433884,0.935551,-0.769879,-2.379503
2,3,2015-07-29,1,1,1,0,0,0,-0.900969,0.433884,0.935551,-0.769879,-2.379503
3,2,2015-07-28,1,1,1,0,0,0,-0.222521,0.974928,0.935551,-0.769879,-2.379503
4,1,2015-07-27,1,1,1,0,0,0,0.623490,0.781831,0.935551,-0.769879,-2.379503

In [ ]:
reg_model = model.Regressor()
train_model(reg_model, X, y)

In [ ]:
print(reg_model)